<%= form_for post, html: { class: "new-post-form" } do |f| %>
  <ul>
    <li><%= f.label :title %><%= f.text_field :title, size: "60" %></li>
    <li><%= f.label :body %><%= f.text_area :body, size: "60x10" %></li>
    <li><%= f.submit "Save Post" %></li>
  </ul>
<% end %>
